.left-section {
	flex: 0.15;

	.sidebar-container {
		height: 100vh;
		align-self: flex-start;
		padding: 10px 75px 10px 50px;
		background-color: white;
		position: sticky;
		top: 0;
		border-right: 2px solid #f1f1f1;
		animation: slideFromLeft 0.2s ease-in-out;

		.sidebar-navigation-container {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.nav-link-box {
				display: block;
				margin-bottom: 40px;
				&.top {
					margin-bottom: 30px;
				}
			}
		}

		.nav-title {
			font-size: 1.8rem;
			margin-bottom: 2.5rem;
		}

		.nav-link {
			color: #274662;
			opacity: 0.6;
			display: flex;
			align-items: flex-end;
			gap: 23px;
			font-size: 1.1rem;
			margin-bottom: 40px;
			&:hover {
				opacity: 0.8;
			}
		}

		.nav-active .nav-link {
			color: #274662;
			font-weight: bold;
			opacity: 1;
		}

		.nav-active .nav-link::after {
			content: "";
			cursor: pointer;
			background-color: $color-primary;
			height: 35px;
			width: 3px;
			position: absolute;
			right: -76px;
			border-radius: 50px;
			transform: translateY(10px);
		}

		.nav-logout {
			cursor: pointer;
		}
	}
}

.right-section {
	height: 100vh;
	flex: 0.85;
	padding: 1rem 1.2rem;
	//projects related styling

	.top-header-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5rem;

		.top {
			display: flex;
			.search-box {
				flex: 0.3;

				.search-input-box {
					display: flex;
					align-items: center;
					background-color: #f9f9f9;
					height: 40px;
					padding: 0.5rem 1rem;
					border-radius: 20px;
				}
				i {
					font-size: 1rem;
					display: inline;
					margin-right: 10px;
				}
				input {
					width: 100%;
					height: 20px;
					font-size: 1.1rem;
					background: transparent;
				}
			}

			.user-info-images {
				display: flex;
				flex: 0.7;
				align-items: center;
				justify-content: space-between;
				padding: 0 1rem;
				& > img {
					height: 40px;
					width: 200px;
					object-fit: contain;
				}

				.user-info {
					display: flex;
					align-items: center;
					h1 {
						font-size: 1.4rem;
						color: #274662;
						font-weight: 500;
						margin-right: 10px;
					}
					img {
						height: 50px;
						width: 50px;
						border-radius: 50%;
						margin-left: 10px;
					}
				}
			}
		}

		.bottom {
			.projects-filter-bar {
				@include applyFlex(space-between, center);
				margin: 1.4rem 0 0.5rem 0;
				h2 {
					font-size: 1.3rem;
					font-weight: 500;
				}
				.filter-container {
					display: flex;
					align-items: center;
					i {
						font-size: 1.2rem;
						margin-right: 5px;
					}
					h3 {
						font-size: 1.2rem;
						font-weight: 400;
						margin-left: 5px;
					}
				}
			}
		}
	}

	.todo-container-area {
		display: flex;
		justify-content: space-evenly;
		.todo-container {
			margin: 0 10px;
			padding: 1.5rem 2rem;
			border-radius: 10px;
			width: 100%;
			background-color: $light-bg-green;
			min-height: 500px;
			max-height: 530px;
			overflow-y: auto;

			&.dragover {
				background-color: darken($light-bg-green, 10%);
			}
			.todo-heading {
				display: flex;
				justify-content: space-between;
				padding: 0 0.2rem;
				margin-bottom: 1rem;
				h5 {
					font-size: 0.95rem;
					font-weight: 600;
					color: $black-secondary;
				}
				span {
					@include applyFlex(center, center);
					background-color: $todo-color;
					width: 30px;
					height: 30px;
					border-radius: 5px;
					color: $color-primary;
				}
			}

			.add-todo-btn {
				width: 100%;
				@include applyFlex(center, center);
				@include buttonVariant(1.2rem, $color-primary, $todo-color, 10px);
				padding: 0.2rem 0;
			}

			.todo-Card {
				background-color: #fff;
				width: 100%;
			}
		}
	}

	// todo styling
	.todo-card {
		animation: fade-anim 0.5s ease;
		cursor: pointer;
		width: 100%;
		background-color: $white;
		border-radius: 10px;
		margin: 0.8rem 0 1rem 0;
		padding: 1rem 1.2rem;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

		input {
			font-size: 0.9rem;
			margin-bottom: 0.1rem;
		}
		textarea {
			font-size: 0.1rem;
			margin-bottom: 0.5rem;
		}

		&.moving {
			background-color: $light-bg-green;
		}

		& > .card-title {
			font-size: 1rem;
			margin-bottom: 0.6rem;
		}
		& > .card-desc {
			font-size: 0.88rem;
			margin-bottom: 1rem;
			color: #444;
		}

		& > .card-bottom {
			@include applyFlex(space-between, center);
			h1 {
				font-size: 0.8rem;
				color: #274662;
			}

			.card-btn {
				display: flex;
				gap: 20px;
				button {
					@include applyFlex(center, center);
					width: 26px;
					height: 26px;
					font-size: 0.8rem;
					color: #fff;
					cursor: pointer;
					border-radius: 5px;

					&.edit-card {
						background-color: $color-primary;
					}

					&.delete-card {
						background-color: $color-danger;
					}

					&:active {
						transform: scale(0.98);
					}
				}
			}
		}

		&.empty-card .btn-group {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;

			& > button {
				padding: 0.2rem 1.2rem;
				border-radius: 5px;
				font-size: 0.98rem;
				width: 90px;
				&.disabled,
				&[disabled] {
					opacity: 0.6;
					cursor: pointer;
				}

				&.save-btn {
					background-color: $color-primary;
					color: $white;
					&:active {
						background-color: darken($color-primary, 10%);
					}
				}

				&.cancel-btn {
					background-color: $white;
					border: 1px solid $color-light-gray;
				}
			}
		}

		input {
			width: 100%;
			font-size: 0.95rem;
		}

		textarea {
			width: 100%;
			font-size: 0.85rem;
		}
	}
}

.confirm-modal {
	width: 400px;
	height: 100%;
	padding: 0.5rem;
	h2 {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	.confirm-btn {
		@include applyFlex(flex-end, center);
		gap: 20px;

		& > button {
			padding: 0.2rem 1.2rem;
			border-radius: 5px;
			font-size: 0.98rem;
			cursor: pointer;

			&.logout-btn {
				background-color: $color-primary;
				color: $white;
				&:active {
					background-color: darken($color-primary, 10%);
				}

				&:disabled,
				&.disabled {
					opacity: pointer;
				}
			}

			&.cancel-btn {
				background-color: $white;
				border: 1px solid $color-light-gray;
			}
		}
	}
}

// edit todo modal
.edit-todo-modal {
	position: relative;
	display: flex;
	padding: 2rem 1.5rem 0 1.5rem;

	justify-content: flex-start;
	flex-direction: column;
	width: 680px;
	min-height: 350px;
	i.bi-x-lg {
		position: absolute;
		top: -8px;
		right: 0;
		font-size: 1.8rem;
		cursor: pointer;
		width: 35px;
		height: 35px;
		@include applyFlex(center, center);
		background-color: $light-bg-green;
	}

	label {
		font-size: 1.05rem;
		font-family: "Montserrat", sans-serif;
		margin-bottom: 0.5rem;
		font-weight: 500;
		color: $black-secondary;
	}

	.edit-title {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin-bottom: 2rem;
	}

	.edit-created-by {
		@include applyFlex(flex-start, center);
		gap: 40px;
		margin-bottom: 2rem;

		h5 {
			color: $color-medium-gray;
			font-weight: 500;
			font-size: 0.98rem;
		}

		h4 {
			color: $black-secondary;
			font-size: 1.1rem;
		}
	}

	.edit-desc {
		@include applyFlex(flex-start, center);
		gap: 40px;
		margin-bottom: 2rem;
		h5 {
			color: $color-medium-gray;
			font-weight: 500;
			font-size: 0.98rem;
		}
		textarea {
			width: 100%;
			height: 100%;
			min-height: 50px;
			border: 1px solid $color-light-gray;
			padding: 0.5rem 0.8rem;
			font-size: 1rem;
			color: $black-secondary;
			border-radius: 5px;
			max-height: 120px;
			&:focus {
				border: 1px solid $color-primary;
			}
		}
	}

	button {
		width: 100px;
		@include buttonVariant(1.2rem, $white, $color-primary, 5px);
		// text-align: center;
		margin: 0 auto;
		padding: 0.3rem 1rem;
	}
}

@keyframes slideFromLeft {
	from {
		transform: translateX(-300px);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fade-anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
