.left-section {
	flex: 0.18;

	.sidebar-container {
		height: 100vh;
		align-self: flex-start;
		padding: 25px 75px 50px 50px;
		background-color: white;
		position: sticky;
		top: 0;
		border-right: 2px solid #f0f0f0;
		animation: slideFromLeft 0.2s ease-in-out;

		.sidebar-navigation-container {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;

			.nav-link-box {
				display: block;
			}
		}

		.nav-title {
			font-size: 1.5rem;
			margin-bottom: 2.5rem;
			color: #161616;
			letter-spacing: 0.03em;
		}

		.nav-link {
			color: #9a9a9a;
			opacity: 0.8;
			display: flex;
			align-items: flex-end;
			gap: 23px;
			font-size: 1.1rem;
			margin-bottom: 40px;
			font-weight: 400;
			&:hover {
				opacity: 0.8;
				color: darken(#9a9a9a, 10%);
			}
		}

		.nav-active .nav-link {
			color: #212121;
			font-weight: 500;
			opacity: 1;
		}

		.nav-active .nav-link::after {
			content: "";
			cursor: pointer;
			background-color: $color-primary;
			height: 35px;
			width: 5px;
			position: absolute;
			right: -76px;
			border-radius: 50px;
			transform: translateY(10px);
		}

		.nav-logout {
			cursor: pointer;
		}
	}
}

.right-section {
	height: 100vh;
	flex: 0.82;
	padding: 1rem 1.2rem;
	//projects related styling
	.top-header-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 0.8rem;

		.top {
			@include applyFlex(space-between, center);
			.search-box {
				flex: 0.3;

				.search-input-box {
					display: flex;
					align-items: center;
					height: 40px;
					padding: 0.5rem 1rem;
					min-width: 200px;
				}
				i {
					font-size: 1.1rem;
					display: inline;
					margin-right: 10px;
					color: #9a9a9a;
				}
				input {
					width: 100%;
					height: 20px;
					font-size: 1.02rem;
					background: transparent;
					color: #1a3b58;
					&::placeholder {
						color: #9a9a9a;
					}
				}
			}

			& > img {
				height: 30px;
				width: 180px;
				object-fit: contain;
			}

			.user-info {
				@include applyFlex(center, center);
				gap: 15px;
				h1 {
					font-size: 1.2rem;
					color: #3a3a3a;
					font-weight: normal;
					margin-right: 10px;
				}
				img {
					height: 45px;
					width: 45px;
					// border-radius: 50%;
					margin-left: 10px;
				}
			}
		}

		.bottom {
			.projects-filter-bar {
				@include applyFlex(space-between, center);
				margin: 1.4rem 0 0.5rem 0;
				h2 {
					font-size: 1.4rem;
					font-weight: 500;
				}
				.filter-container {
					@include applyFlex(center, center);
					color: #3a3a3a;
					i {
						font-size: 1.2rem;
						margin-right: 5px;
					}
					h3 {
						font-size: 1.2rem;
						font-weight: 400;
						margin-left: 5px;
					}
				}
			}
		}
	}

	.todo-container-area {
		display: flex;
		justify-content: space-evenly;
		.todo-container {
			margin: 0 10px;
			padding: 1.5rem 2rem;
			border-radius: 10px;
			width: 100%;
			background-color: #f5f9f9;
			min-height: 550px;
			max-height: 530px;
			overflow-y: auto;

			&.dragover {
				background-color: darken($light-bg-green, 10%);
			}

			.todo-heading {
				display: flex;
				justify-content: space-between;
				padding: 0 0.2rem;
				margin-bottom: 1rem;
				h5 {
					font-size: 1rem;
					font-weight: 500;
					color: #212121;
				}
				span {
					@include applyFlex(center, center);
					background-color: $todo-color;
					width: 30px;
					height: 30px;
					border-radius: 5px;
					font-weight: 500;
					color: $color-primary;
				}
			}

			.add-todo-btn {
				width: 100%;
				@include applyFlex(center, center);
				@include buttonVariant(1.2rem, $color-primary, #ecf3f3, 10px);
				padding: 0.2rem 0;
				font-size: 1.4rem;
			}

			.todo-Card {
				background-color: #fff;
				width: 100%;
			}
		}
	}

	// todo styling

	.todo-box {
		position: relative;
		animation: fade-anim 0.5s ease;
		margin: 0.8rem 0 1rem 0;
		box-shadow: 0px 0px 28px 0px #48aeae12;
		cursor: pointer;
		width: 100%;
		background-color: $white;
		border-radius: 10px;
		i.bi-x {
			display: block;
			position: absolute;
			top: 0;
			right: 5px;
			width: 20px;
			height: 20px;
			// background-color: ;
			font-size: 1.5rem;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			i.bi-x {
				display: block;
				transition: all 0.3s ease-in-out;
			}
		}

		&.empty-card {
			position: relative;
			border: 1px solid #dbdbdb;
			border-radius: 7px;
			cursor: default;
			padding: 1rem 1.2rem;

			& .card-title {
				font-size: 0.98rem;
				margin-bottom: 0.5rem;
				font-weight: 500;
				color: #212121;
			}

			& .card-desc {
				font-size: 0.88rem;
				margin-bottom: 1rem;
				font-weight: normal;
				color: #6b6b6b;
			}

			.btn-group {
				width: 100%;
				@include applyFlex(space-evenly, center);

				& > button {
					padding: 0.2rem 1.25rem;
					border-radius: 5px;
					font-size: 0.95rem;
					font-weight: 400;
					width: 80px;
					height: 30px;
					cursor: pointer;
					@include applyFlex(center, center);

					&.disabled,
					&[disabled] {
						opacity: 0.6;
						cursor: pointer;
					}

					&.save-btn {
						background-color: $color-primary;
						color: $white;
						&:active {
							background-color: darken($color-primary, 10%);
						}
					}

					&.cancel-btn {
						background-color: $white;
						border: 1px solid $color-primary;
						color: $color-primary;
					}
				}
			}

			input {
				width: 100%;
				font-size: 0.95rem;
				color: darken(#a4abb3, 20%);

				&::placeholder {
					color: #a4abb3;
				}
			}

			textarea {
				width: 100%;
				font-size: 0.88rem;
				color: darken(#a4abb3, 10%);
				&::placeholder {
					color: #a4abb3;
				}
			}
		}

		&.moving {
			background-color: $light-bg-green;
		}

		.todo-card {
			padding: 1rem 1.2rem;

			& .card-title {
				font-size: 0.98rem;
				margin-bottom: 0.5rem;
				font-weight: 500;
				color: #212121;
			}
			& .card-desc {
				font-size: 0.88rem;
				margin-bottom: 1rem;
				font-weight: normal;
				color: #6b6b6b;
			}

			& .card-bottom {
				@include applyFlex(space-between, center);

				img {
					height: 25.26px;
					object-fit: contain;
				}

				i.bi-chat-left {
					color: #bebebe;
					font-size: 0.92rem;
					font-weight: normal;
				}
			}
		}
	}
}

.confirm-modal {
	width: 400px;
	height: 100%;
	padding: 0.5rem;
	h2 {
		font-size: 1.2rem;
		margin-bottom: 1.2rem;
		font-weight: 400;
	}

	.confirm-btn {
		@include applyFlex(flex-end, center);
		gap: 20px;

		& > button {
			padding: 0.2rem 1.2rem;
			border-radius: 5px;
			font-size: 0.98rem;
			cursor: pointer;
			width: 90px;

			&.logout-btn {
				background-color: $color-primary;
				color: $white;
				&:active {
					background-color: darken($color-primary, 10%);
				}

				&:disabled,
				&.disabled {
					opacity: pointer;
				}
			}

			&.cancel-btn {
				background-color: $white;
				border: 1px solid $color-light-gray;
			}
		}
	}
}

// edit todo modal
.edit-todo-modal {
	position: relative;
	display: flex;
	padding: 2rem 1.5rem 0 1.5rem;

	justify-content: flex-start;
	flex-direction: column;
	width: 680px;
	min-height: 350px;
	i.bi-x-lg {
		position: absolute;
		top: -8px;
		right: 0;
		font-size: 1.8rem;
		cursor: pointer;
		width: 35px;
		height: 35px;
		@include applyFlex(center, center);
		background-color: $light-bg-green;
	}

	label {
		font-size: 1.05rem;
		font-family: "Montserrat", sans-serif;
		margin-bottom: 0.5rem;
		font-weight: 500;
		color: $black-secondary;
	}

	.edit-title {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin-bottom: 2rem;
		color: $black-secondary;
		font-weight: 400;
	}

	.edit-created-by {
		@include applyFlex(flex-start, center);
		gap: 40px;
		margin-bottom: 2rem;

		h5 {
			color: $color-medium-gray;
			font-weight: 400;
			font-size: 0.98rem;
		}

		h4 {
			color: $black-secondary;
			font-size: 1.1rem;
			font-weight: 400;
		}
	}

	.edit-desc {
		@include applyFlex(flex-start, center);
		gap: 40px;
		margin-bottom: 2rem;
		h5 {
			color: $color-medium-gray;
			font-weight: 500;
			font-size: 0.98rem;
		}
		textarea {
			width: 100%;
			height: 100%;
			min-height: 50px;
			border: 1px solid $color-light-gray;
			padding: 0.2rem 0.5rem;
			font-size: 1rem;
			color: $black-secondary;
			border-radius: 5px;
			max-height: 120px;
			&:focus {
				border: 1px solid $color-primary;
			}
		}
	}

	button {
		width: 100px;
		@include buttonVariant(1.2rem, $white, $color-primary, 5px);
		width: 110px;
		margin: 0 auto;
		padding: 0.3rem 1rem;
	}
}

@keyframes slideFromLeft {
	from {
		transform: translateX(-300px);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fade-anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
