.left-section {
	flex: 0.18;

	.sidebar-container {
		height: 100vh;
		align-self: flex-start;
		padding: 25px 75px 30px 50px;
		background-color: white;
		position: sticky;
		top: 0;
		border-right: 2px solid #f0f0f0;
		animation: slideFromLeft 0.2s ease-in-out;

		.sidebar-navigation-container {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;

			.nav-link-box {
				display: block;
			}
		}

		.nav-title {
			font-weight: 500;
			font-size: 1.2rem;
			margin-bottom: 2rem;
			color: #161616;
			letter-spacing: 0.03em;
		}

		.nav-link {
			color: #9a9a9a;
			opacity: 0.8;
			display: flex;
			align-items: flex-end;
			gap: 23px;
			font-size: 1.05rem;
			margin-bottom: 35px;
			font-weight: 400;
			&:hover {
				opacity: 0.8;
				color: darken(#9a9a9a, 10%);
			}
		}

		.nav-active .nav-link {
			color: #212121;
			font-weight: 500;
			opacity: 1;
		}

		.nav-active .nav-link::after {
			content: "";
			cursor: pointer;
			background-color: $color-primary;
			height: 35px;
			width: 5px;
			position: absolute;
			right: -76px;
			border-radius: 50px;
			transform: translateY(10px);
		}

		.nav-logout {
			cursor: pointer;
		}
	}
}

.right-section {
	height: 100vh;
	flex: 0.82;

	//projects related styling
	.top-header-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 20vh;
		gap: 16px;
		padding: 1rem;
		.top {
			@include applyFlex(space-between, center);
			.search-box {
				flex: 0.3;

				.search-input-box {
					display: flex;
					align-items: center;
					height: 40px;
					padding: 0.5rem 0.2rem;
					min-width: 200px;
				}
				i {
					font-size: 1.1rem;
					display: inline;
					margin-right: 10px;
					color: #9a9a9a;
				}
				input {
					width: 100%;
					height: 20px;
					background: transparent;
					font-size: 0.98rem;
					color: #1a3b58;
					&::placeholder {
						color: #9a9a9a;
					}
				}
			}

			& > img {
				height: 30px;
				width: 180px;

				object-fit: contain;
			}

			.user-info {
				@include applyFlex(center, center);
				gap: 15px;
				h1 {
					font-size: 1.2rem;
					color: #3a3a3a;
					font-weight: normal;
					margin-right: 10px;
				}
				img {
					height: 48px;
					width: 48px;
					border-radius: 50%;
					margin-left: 10px;
				}
			}
		}

		.bottom {
			.projects-filter-bar {
				@include applyFlex(space-between, center);
				h2 {
					font-size: 1.4rem;
					font-weight: 500;
				}
				.filter-container {
					@include applyFlex(center, center);
					color: #3a3a3a;
					i {
						font-size: 1.2rem;
						margin-right: 5px;
					}
					h3 {
						font-size: 1.2rem;
						font-weight: 400;
						margin-left: 5px;
					}
				}
			}
		}
	}

	.todo-container-area {
		display: flex;
		justify-content: space-evenly;
		gap: 30px;
		height: 80vh;
		padding: 0 2rem;
		.todo-container {
			padding: 1.2rem 2rem;
			border-radius: 10px;
			width: 100%;
			background-color: #f5f9f9;
			height: 76vh;
			min-height: calc(80vh-2rem);
			overflow-y: auto;

			&.dragover {
				background-color: darken($light-bg-green, 10%);
			}

			.todo-heading {
				display: flex;
				justify-content: space-between;
				padding: 0 0.2rem;
				margin-bottom: 1rem;
				h5 {
					font-size: 1rem;
					font-weight: 500;
					color: #212121;
				}
				span {
					@include applyFlex(center, center);
					background-color: $todo-color;
					width: 30px;
					height: 30px;
					border-radius: 5px;
					font-weight: 500;
					color: $color-primary;
				}
			}

			.add-todo-btn {
				width: 100%;
				@include applyFlex(center, center);
				@include buttonVariant(1.2rem, $color-primary, #ecf3f3, 10px);
				padding: 0.1rem 0;
				font-size: 1.4rem;
			}

			.todo-Card {
				background-color: #fff;
				width: 100%;
			}
		}
	}

	// todo styling

	.todo-box {
		position: relative;
		animation: fade-anim 0.5s ease;
		margin: 0.8rem 0 1rem 0;
		box-shadow: 0px 0px 28px 0px #48aeae12;
		cursor: pointer;
		width: 100%;
		background-color: $white;
		border-radius: 10px;
		i.bi-x {
			@include applyFlex(center, center);
			position: absolute;
			top: 2px;
			right: 2px;
			width: 30px;
			height: 30px;
			background-color: #f9f9f9;
			color: #4a4a4a;
			font-size: 1.5rem;
			border-radius: 6px 8px 6px 6px;
			visibility: hidden;
			box-shadow: 0px 0px 28px 0px #48aeae12;
		}

		&:hover {
			i.bi-x {
				visibility: visible;
				transition: all 0.3s ease-in-out;
				&:hover {
					background-color: #ecf3f3;
				}
			}
		}

		&.empty-card {
			position: relative;
			border: 1px solid #dbdbdb;
			border-radius: 7px;
			cursor: default;
			padding: 1rem 1.2rem;

			& .card-title {
				font-size: 0.98rem;
				margin-bottom: 0.5rem;
				font-weight: 500;
				color: #212121;
			}

			& .card-desc {
				font-size: 0.88rem;
				margin-bottom: 1rem;
				font-weight: normal;
				color: #6b6b6b;
			}

			.btn-group {
				width: 100%;
				@include applyFlex(space-evenly, center);

				& > button {
					padding: 0.2rem 1.25rem;
					border-radius: 5px;
					font-size: 0.95rem;
					font-weight: 400;
					width: 80px;
					height: 30px;
					cursor: pointer;
					@include applyFlex(center, center);

					&.disabled,
					&[disabled] {
						opacity: 0.6;
						cursor: pointer;
					}

					&.save-btn {
						background-color: $color-primary;
						color: $white;
						&:active {
							background-color: darken($color-primary, 10%);
						}
					}

					&.cancel-btn {
						background-color: $white;
						border: 1px solid $color-primary;
						color: $color-primary;
					}
				}
			}

			input {
				width: 100%;
				font-size: 0.95rem;
				color: darken(#a4abb3, 20%);

				&::placeholder {
					color: #a4abb3;
				}
			}

			textarea {
				width: 100%;
				font-size: 0.88rem;
				color: darken(#a4abb3, 10%);
				&::placeholder {
					color: #a4abb3;
				}
			}
		}

		&.moving {
			background-color: $light-bg-green;
		}

		.todo-card {
			padding: 1rem 1.2rem;

			& .card-title {
				font-size: 0.98rem;
				margin-bottom: 0.5rem;
				font-weight: 500;
				color: #212121;
			}
			& .card-desc {
				font-size: 0.88rem;
				margin-bottom: 1rem;
				font-weight: normal;
				color: #6b6b6b;
			}

			& .card-bottom {
				@include applyFlex(space-between, center);

				img {
					width: 26px;
					height: 26px;
					border-radius: 50%;
				}

				i.bi-chat-left {
					color: #bebebe;
					font-size: 0.92rem;
					font-weight: normal;
				}
			}
		}
	}
}

.confirm-modal {
	width: 400px;
	height: 100%;
	padding: 0.5rem;
	h2 {
		font-size: 1.1rem;
		margin-bottom: 1.2rem;
		font-weight: 400;
		color: #212121;
	}

	.confirm-btn {
		@include applyFlex(flex-end, center);
		gap: 20px;

		& > button {
			padding: 0.2rem 1.2rem;
			border-radius: 5px;
			font-size: 0.95rem;
			cursor: pointer;
			width: 85px;
			height: 30px;
			@include applyFlex(center, center);

			&.logout-btn {
				background-color: $color-primary;
				color: $white;
				&:active {
					background-color: darken($color-primary, 10%);
				}

				&:disabled,
				&.disabled {
					opacity: pointer;
				}
			}

			&.cancel-btn {
				background-color: $white;
				color: $color-primary;
				border: 1px solid $color-primary;
			}
		}
	}
}

// edit todo modal

.edit-todo-screen > div {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	background-color: rgba(51, 51, 51, 0.1);
	opacity: 1;
	transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 200ms;
	@include applyFlex(center, center);

	& > .modal-content {
		position: fixed;
		right: 0;
		bottom: 0;
		padding: 15px;
		box-sizing: border-box;
		min-height: 50px;
		min-width: 50px;
		max-height: 80%;
		max-width: 80%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		background-color: white;
		border-radius: 5px;
		transform: translateY(100px);
		transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 0;
		max-width: 700px;
		max-height: 800px;
	}

	&.active {
		transition-duration: 250ms;
		transition-delay: 0ms;
		opacity: 1;
		& .modal-content {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 150ms;
			transition-duration: 350ms;
		}
	}
}

.edit-todo-modal {
	@include applyFlex(space-between, stretch);
	padding: 1rem 1.5rem 1.2rem 1.5rem;
	flex-direction: column;
	width: 520px;
	min-height: 75vh;

	input {
		color: #212121;
		font-size: 1.05rem;
		font-weight: 500;
		width: 100%;
		height: 40px;
		padding: 0.2rem 0.3rem;
		border-radius: 5px;
		margin-bottom: 0.4rem;
		&:focus {
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
	}

	.edit-title-bar {
		display: flex;
		width: 35px;
		height: 3px;
		background-color: $color-primary;
		margin-bottom: 3rem;
		margin-left: 5px;
	}

	h5 {
		color: #6b6b6b;
		font-weight: 400;
		font-size: 0.9rem;
	}

	.edit-created-by {
		@include applyFlex(flex-start, center);
		gap: 50px;
		margin-bottom: 2.5rem;

		.user-info {
			display: flex;
			align-items: center;
			gap: 15px;
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}

		h4 {
			color: #2e2e2e;
			font-size: 1rem;
			font-weight: 400;
		}
	}

	.edit-desc {
		display: flex;
		align-items: center;
		gap: 40px;
		margin-bottom: 2rem;

		textarea {
			width: 100%;
			color: #2e2e2e;
			height: 100%;
			min-height: 50px;
			padding: 0.2rem 0.5rem;
			font-size: 0.9rem;
			color: $black-secondary;
			border-radius: 5px;
			max-height: 120px;
			&:focus {
				border: 1px solid rgba(0, 0, 0, 0.2);
			}
		}
	}

	.edit-btn-group {
		@include applyFlex(center, stretch);
		padding: 2rem 1rem;
		gap: 60px;

		button {
			// @include buttonVariant(1.2rem, $white, $color-primary, 5px);
			width: 150px;
			height: 36px;
			border-radius: 5px;
			padding: 0.3rem 1rem;
			cursor: pointer;

			&:disabled,
			&.disabled {
				opacity: 0.7;
			}

			&.save-btn {
				color: $white;
				background-color: $color-primary;
			}

			&.cancel-btn {
				color: $color-primary;
				background-color: $white;
				border: 1px solid $color-primary;
			}
		}
	}
}

@keyframes slideFromLeft {
	from {
		transform: translateX(-300px);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes fade-anim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.user-image-group {
	display: flex;
	position: relative;
	left: -20px;

	cursor: pointer;

	img {
		position: relative;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}

	img.user0 {
		z-index: 10;
	}

	img.user1 {
		left: -5px;
		z-index: 8;
	}

	img.user2 {
		left: -8px;
		z-index: 6;
	}

	img.user3 {
		left: -10px;
		z-index: 4;
	}

	.last-image {
		position: relative;
		left: -12px;
		z-index: 2;
		width: 30px;
		height: 30px;

		small {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #9a9a9a;
			font-size: 0.8rem;
		}
	}
}

.all-users-list {
	position: relative;
	width: 450px;
	min-height: 400px;
	padding: 0 0.5rem l;
	@include applyFlex(space-evenly, stretch);
	flex-direction: column;
	gap: 15px;

	.head {
		position: relative;
		@include applyFlex(space-between, center);

		&::before {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 30px;
			height: 3px;
			background-color: $color-primary;
		}

		h4 {
			font-weight: 500;
			color: #212121;
			font-size: 1.08rem;
		}

		i.bi-x {
			font-size: 1.8rem;
			color: #0000004a;
			cursor: pointer;
		}
	}

	.user-container {
		@include applyFlex(flex-start, stretch);
		flex-direction: column;
		max-height: 350px;
		overflow-y: scroll;
		padding: 1rem 0 1.5rem 0;

		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px #eeeeee8a;
			border-radius: 10px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #e4e5e8;
			border-radius: 10px;
		}

		.user-card {
			@include applyFlex(flex-start, center);
			padding: 1rem;
			gap: 15px;
			img {
				width: 47px;
				height: 47px;
				border-radius: 50%;
			}
			.user-info {
				@include applyFlex(flex-start, flex-start);
				flex-direction: column;

				h5 {
					font-weight: 500;
					color: #212121;
					font-size: 0.98rem;
				}

				p {
					color: #21212194;
					font-size: 0.88rem;
					font-weight: normal;
				}
			}
		}
	}
}
