.auth-screen {
	height: 100vh;
	@include applyFlex(center, center);
	gap: 80px;
	img {
		height: 350px;
		object-fit: contain;
		@media screen and (max-width: $break-md) {
			display: none;
		}
	}
	.auth-form-box {
		@include applyFlex(flex-start, stretch);
		flex-direction: column;
		border: 2px solid rgba(26, 59, 88, 0.24);
		border-radius: 40px;
		padding: 3.5rem 3rem 3.5rem 3rem;
		width: 400px;
		min-height: 450px;
		.auth-form-head {
			@include applyFlex(flex-start, flex-start);
			span {
				position: relative;
				color: #1a3b5854;
				font-weight: 500;
				font-size: 1.2rem;
				margin: 0 10px;
				cursor: pointer;
				margin-bottom: 0.5rem;
				&:hover {
					color: lighten(#1a3b5854, 40%);
				}
				&.active {
					color: $black-secondary;
					&::before {
						content: "";
						position: absolute;
						bottom: -4px;
						left: 0;
						width: 20px;
						height: 3px;
						background-color: #1a3b58;
						border-radius: 50px;
					}
				}
			}
		}
		.form-bar {
			background-color: #4091df1f;
			height: 2px;
			width: 190px;
			margin: 1.4rem auto;
		}
		.form-inner-box {
			padding: 0 1.5rem;
			h6 {
				font-size: 1.2rem;
				color: #1a3b58;
				font-weight: 500;
			}
			p {
				color: #999999;
				word-spacing: 0;
				font-size: 0.8rem;
				font-weight: 300;
				margin-bottom: 1.2rem;
			}

			.form-container {
				i {
					margin-right: 5px;
				}
				span.visible {
					display: block;
					color: $color-danger;
					font-size: 0.8rem;
					text-align: center;
				}
				span.hidden {
					display: none;
				}
			}
		}
		button {
			@include buttonVariant(15px, $white, $color-primary, 6px);
			margin: 10px 0 20px 0;
			width: 100%;
			font-size: 1rem;
			padding: 0.4rem 0.8rem;
			font-weight: 600;
		}
	}
}

.checkbox-input-box {
	display: flex;
	align-items: center;

	small.remember {
		font-size: 0.75rem;
		color: $black-secondary;
	}
	.checkbox {
		display: grid;
		grid-template-columns: min-content auto;
		grid-gap: 0.5em;
		font-size: 1rem;
		color: $color-primary;

		&--disabled {
			color: var(--disabled);
		}
	}

	.checkbox__control {
		display: inline-grid;
		width: 1em;
		height: 1em;
		border-radius: 0.25em;
		border: 0.1em solid currentColor;

		svg {
			transition: transform 0.1s ease-in 25ms;
			transform: scale(0);
			transform-origin: bottom left;
		}
	}

	.checkbox__input {
		display: grid;
		grid-template-areas: "checkbox";

		> * {
			grid-area: checkbox;
		}

		input {
			opacity: 0;
			width: 1em;
			height: 1em;

			&:focus + .checkbox__control {
				box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
			}

			&:checked + .checkbox__control svg {
				transform: scale(1);
			}

			&:disabled + .checkbox__control {
				color: var(--disabled);
			}
		}
	}
}
