$font-stack: "Roboto";
$color-primary: #329c89;
// $color-secondary: ;
$color-green: #8cc152;
$color-info: #4fc1e9;
$color-warning: #fc6e51;
$color-warning-light: #fff0ca;
$color-danger: #ff0000;
$color-danger-light: #fff5f5;
$color-yellow: #fcbb42;
$color-black: #000;
$color-dark-gray: #434a54;
$color-light-gray: #d0d6db;
$color-medium-gray: #aab2bd;
$color-lightest-gray: #f4f4f4;
$color-bg-gray: #f1f3f6;
$white: #fff;
$black-secondary: #222;
$random: #f3f8f8;

// -------- spacing ---------
$space-none: 0;
$space-xxmsall: 4px;
$space-xmsmall: 8px;
$space-small: 12px;
$space-medium: 20px;
$space-gutter: 24px;
$space-large: 32px;
$space-xlarge: 48px;
$space-xxlarge: 96px;

// ------- width size -------
$width-col-1: 8.33%;
$width-col-2: 16.66%;
$width-col-3: 25%;
$width-col-4: 33.33%;
$width-col-5: 41.66%;
$width-col-6: 50%;
$width-col-7: 58.33%;
$width-col-8: 66.66%;
$width-col-9: 75%;
$width-col-10: 83.33%;
$width-col-11: 91.66%;
$width-col-12: 100%;

//--------steps variable--------
$circleSize: 50px;
$circleBorderWidth: 5px;
$lineOffset: 10px;

/*--------button start--------*/
$btn-font-weight: normal !default;

$btn-default-color: #333 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ccc !default;
