$font-stack: "Roboto";
$color-primary: #329c89;
$light-bg-green: #f5f9f9;
$todo-color: #ecf3f3;
$color-green: #8cc152;
$color-danger: #f65b2a;
$color-danger-light: #fff5f5;
$color-black: #000;
$color-dark-gray: #434a54;
$color-light-gray: #d0d6db;
$color-medium-gray: #aab2bd;
$color-lightest-gray: #f4f4f4;
$color-bg-gray: #f1f3f6;
$white: #fff;
$black-secondary: #222;
$random: #f3f8f8;

// ------ breakPoints ------
$break-vs: 476px;
$break-sm: 576px;
$break-md: 768px;
$break-la: 992px;
$break-xl: 1200px;
