@import "_variables.scss";
@import "_mixins.scss";
@import "_login.scss";
@import "_home.scss";
@import "_login.scss";
@import "_input.scss";

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea,
select,
button {
	font-family: "Jost", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
	margin: 0;
	font-family: "Merienda", cursive;
}

h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

p,
h5,
h6,
span {
	font-family: "Jost", sans-serif;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none !important;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

input,
textarea {
	outline: none;
	border: none;
}

button {
	border: none;
	outline: none;
}

.loader {
	display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
	border: 0.2em solid $white;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: 1s loader linear infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#todo-app-screen {
	height: 100vh;
	&.active {
		display: flex;
	}
}
