@import "_variables.scss";
@import "_mixins.scss";
@import "_login.scss";
@import "_home.scss";
@import "_login.scss";
@import "_input.scss";
@import "_settings.scss";
@import "_screen-loader.scss";

// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea,
select,
button,
small {
	font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
span {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none !important;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

input,
textarea {
	outline: none;
	border: none;
}

button {
	border: none;
	outline: none;
}

.loader {
	display: inline-block;
	width: 1em;
	height: 1em;
	color: inherit;
	vertical-align: middle;
	pointer-events: none;
	border: 0.2em solid $white;
	border-bottom-color: transparent;
	border-radius: 50%;
	animation: 1s loader linear infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#todo-app-screen {
	height: 100vh;
	&.active {
		display: flex;
	}
}

.modal-portal > div {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(51, 51, 51, 0.3);
	backdrop-filter: blur(1px);
	opacity: 1;
	transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 200ms;
	@include applyFlex(center, center);

	& > .modal-content {
		position: relative;
		padding: 15px;
		box-sizing: border-box;
		min-height: 50px;
		min-width: 50px;
		max-height: 80%;
		max-width: 80%;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		background-color: white;
		border-radius: 8px;
		transform: translateY(100px);
		transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 0;
		max-width: 700px;
		max-height: 500px;
	}

	&.active {
		transition-duration: 250ms;
		transition-delay: 0ms;
		opacity: 1;
		& .modal-content {
			transform: translateY(0);
			opacity: 1;
			transition-delay: 150ms;
			transition-duration: 350ms;
		}
	}
}
